$webResourceManager.requireResourcesForContext("csl-admin")
<html>
   <head>
      <title>$action.getText('csl.admin.title')</title>
      <meta name="decorator" content="atl.admin" />
      <meta name="admin.active.section" content="admin_plugins_menu/csl_admin_section"/>
      <meta name="admin.active.tab" content="csl_config"/>
   </head>
   <body>

 	<header class="aui-page-header">
        <div class="aui-page-header-inner">
            <div class="aui-page-header-main">
                <h2>$action.getText('csl.admin.securityrule.config.title')</h2>
            </div>
            
        <div class="aui-page-header-actions">
            <div class="aui-buttons">
            </div>
        </div>
     </header>

      <form action="ConfigureCSL!save.jspa" id="admin-form" class="aui">
		   <div class="aui-group">
				<div class="aui-item right">
					<label for="active">$action.getText('csl.admin.securityrule.config.active.label')</label>
				</div>
				<div class="aui-item">
					<input class="checkbox" type="checkbox" id="active" value="true" name="active" #if ($action.getConfiguration().getActive()) checked #end>
				</div>
				<div class="aui-item">
				</div>
				<div class="aui-item">
				</div>
			</div>
		<br>
       	<div class="buttons-container">
            <div class="buttons">
               <input class="aui-button aui-button-primary" type="submit" value="$action.getText('csl.admin.securityrule.config.save.label')" id="save-button">
            </div>
         </div>
      </form>	
   </body>
</html>