
<div id="no-rule-message" class="aui-message aui-message-info 
					#if($action.getActivesSecurityRules().size() > 0) hide #end
				">
	    <p class="title">
	        <strong>Aucune règle de sécurité définie</strong>
	    </p>
	    <p>Pour ajouter une nouvelle règle de sécurité, cliquer le bouton ajouter en haut à droite</p>
	</div>


			<table class="aui">
		    <thead>
		        <tr>
		         	<th id="active">$action.getText('csl.admin.securityrule.list.active.label')</th>
		         	<th id="name">$action.getText('csl.admin.securityrule.list.tab.title')</th>
		            <th id="applicationDate">$action.getText('csl.admin.securityrule.list.applicationdate.label')</th>
		            <th id="creationDate">$action.getText('csl.admin.securityrule.list.creationdate.label')</th>
		            <th id="creationUser">$action.getText('csl.admin.securityrule.list.creator.label')</th>
		            <th id="jql">$action.getText('csl.admin.securityrule.list.jql.label')</th>
		            <th id="jira-events">$action.getText('csl.admin.securityrule.list.events.label')</th>
		            <th id="securityid">$action.getText('csl.admin.securityrule.list.securitylvl.label')</th>
		            <th id="priority">$action.getText('csl.admin.securityrule.list.priority.label')</th>
		            <th id="actions">Actions</th>
		        </tr>
		    </thead>
		    <tbody>
		    #if($action.getActivesSecurityRules().size() > 0)
			#foreach ($rule in $action.getActivesSecurityRules())
		        <tr>
		         	<td headers="active">
		         		#if($action.hasApplicationDate($rule) == false)
							<span class="orange aui-icon aui-icon-small aui-iconfont-time"></span>
						#elseif ($rule.getActive() )
							<span class="aui-icon aui-icon-small aui-iconfont-success green"></span>  
						 #else
						 	<span class="aui-icon aui-icon-small aui-iconfont-devtools-task-disabled orange"></span>
						 #end
		         	</td>
		         	<td headers="name">$rule.name</td>
		            <td headers="applicationDate">$action.formatDate($rule.applicationDate)</td>
		            <td headers="creationDate">$action.formatDate($rule.creationDate)</td>
		             <td headers="creationUser">$rule.creationUser</td>
		             <td headers="jql">$rule.jql</td>
		             <td headers="jira-events">
		             	#foreach ($event in $rule.getEvents())
							<span id="jira-events" class="bold" >  
								$event.getJiraEventName()
							</span>
							<br>
						#end
					</td>
		            <td headers="securityid">$rule.getJiraSecurityName()</td>
		            <td headers="priority">$rule.priority</td>
		             
		            <td headers="actions-active">
						    <ul class="menu" class="action">
						        <li>
						        	<a href="#" id="edit-sr-$rule.id" 
										data-id="$rule.id" 
										data-name="$rule.name"
										data-priority="$rule.priority"
										data-jql="$rule.jql"
										data-security-lvl="$rule.jiraSecurityId"
										data-active="$rule.active"
										data-events="$rule.getSimpleEventsList()" >$action.getText('csl.admin.securityrule.list.actions.edit.label')</a>
						        </li>
						        #if($action.hasApplicationDate($rule) == true)
							        #if($rule.getDeleted() != true)
									<li>
							        	<a href="#" id="delete-sr-$rule.id"
									 	   data-id="$rule.id" 
									 	   data-name="$rule.name">$action.getText('csl.admin.securityrule.list.actions.delete.label')</a>
									</li>
									#end
									#if($rule.getActive() == true)
									<li>
										<a href="#" id="unactivate-sr-$rule.id"
										 data-id="$rule.id" 
										 data-name="$rule.name" 
										 title="">
									 		$action.getText('csl.admin.securityrule.list.actions.unactivate.label')</a>
									</li>
							        #end
						        #end
						    </ul>
		            </td>
		        </tr>
	        	#end
			#end
		    </tbody>
		</table>
		